# Ignore node_modules directory
node_modules

# Ignore Python virtual environment directories
venv/
env/
__pycache__/
*.pyc

# Ignore Git files
.git
.gitignore

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore environment files
.env
